.app-sync-list {
    display: flex;
    gap: var(--spacing);
    margin-bottom: 32px;
    justify-content: center;
}

.app-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
    padding: 12px var(--spacing);
    border-radius: var(--radius);
}

.app-logo {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.app-info {
    display: flex;
    flex-direction: column;
}

.app-name {
    font-size: 1rem;
    font-weight: 600;
}

.btn-status {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
    width: fit-content;
}

.status-connect {
    background-color: var(--btn-approve);
    color: white;
}

.status-disconnected {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-dim);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-approve {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-skip {
    background: none;
    color: var(--text-dim);
    border: none;
    margin-top: 16px;
    font-size: 0.9rem;
    font-weight: normal;
}